<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="summermvc.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="base">
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="<%- topLeftMenus[0].id %>" name="<%- topLeftMenus[0].name %>" class="navbar-brand" href="<%- topLeftMenus[0].redirectpath %>"><%- topLeftMenus[0].displayname %></a>
      </div>
    </div>
    <div class="collapse navbar-collapse navbar-content">
      <ul class="nav navbar-nav top-nav">
        <% for( var i=1; i<topLeftMenus.length; i++ ){ %>
          <li id="<%- topLeftMenus[i].id %>" name="<%- topLeftMenus[i].name %>" class="<%- topLeftMenus[i].active %>"><a href="<%- topLeftMenus[i].redirectpath %>" ><%- topLeftMenus[i].displayname %></a></li>
        <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right top-nav">
        <% for( var i=0; i<topRightMenus.length-1; i++ ){ %>
          <% if( topRightMenus[i].type === "href" ){ %>
            <li id="<%- topRightMenus[i].id %>" name="<%- topRightMenus[i].name %>" class="<%- topRightMenus[i].active %>"><a href="<%- topRightMenus[i].redirectpath %>" ><i class="<%- topRightMenus[i].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[i].displayname %></a></li>
          <% } else if( topRightMenus[i].type === "onclick" ){ %>
            <li id="<%- topRightMenus[i].id %>" name="<%- topRightMenus[i].name %>" class="<%- topRightMenus[i].active %>"><a href="#" onclick="<%- topRightMenus[i].redirectpath %>" ><i class="<%- topRightMenus[i].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[i].displayname %></a></li>
          <% } %>
        <% } %>
        <li style="padding-right: 15px" id="<%- topRightMenus[topRightMenus.length-1].id %>" name="<%- topRightMenus[topRightMenus.length-1].name %>" class="<%- topRightMenus[topRightMenus.length-1].active %>"><a href="<%- topRightMenus[topRightMenus.length-1].redirectpath %>" ><i class="<%- topRightMenus[topRightMenus.length-1].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[topRightMenus.length-1].displayname %></a></li>
      </ul>
    </div>
  </header>

  <div class="jumbotron" style="height:40vh; min-height:400px; background-color: black">
  </div>
  <div class="container-fluid">
    <div class="row" style="max-width: 1200px; margin-left: auto; margin-right:auto;">
      <div class="col-lg-3 col-md-3 col-sm-3">
        test
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        test
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        test
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        test
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.03);">
    <div class="row" style="max-width: 1200px; margin-left: auto; margin-right:auto;">
      <div class="col-lg-4 col-md-4 col-sm-4" style="padding-top:50px; padding-bottom: 50px;">
        <h4 style="color:#454545;">NPM Status</h4>
        <p style="color:#646464">summer-mvc can be downloaded at <a>npmjs.com</a>.<br>
          The latest version is v2.0.0 and is going to be upgraded.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4" style="padding-top:50px; padding-bottom: 50px;">
        <h4 style="color:#454545;">Comments</h4>
        <div class="media">
					<div class="media-body">
						<p style="color:#646464">I think this is very awesome framework.<br> Useful, convenient and fast.</p>
            <h5 class="media-heading" style="color:#454545; font-style:italic">- Mark</h5>
					</div>
				</div>
        <div class="media">
					<div class="media-body">
						<p style="color:#646464">Wonderful framework! Hierarchical approach for developing is possible when you use this.<br>Amazing development speed!</p>
            <h5 class="media-heading" style="color:#454545; font-style:italic">- Jobs</h5>
					</div>
				</div>
        <div class="media">
					<div class="media-body">
						<p style="color:#646464">I can say that if Nodejs gives us an environment, summer-mvc gives us tools.<br>Be careful. Breath deep. It's powerful.</p>
            <h5 class="media-heading" style="color:#454545; font-style:italic">- Changho Kang</h5>
					</div>
				</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4" style="padding-top:50px; padding-bottom: 50px;">
        <h4 style="color:#454545;">SNS Status</h4>
        <p></p>
      </div>
    </div>
  </div>

  <% include partials/footer.ejs %>
</body>

</html>
