<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:italic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:bold' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:bolditalic' rel='stylesheet'>

  <!-- <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:italic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:bold" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:bolditalic" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:italic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:bold" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:bolditalic" rel="stylesheet"> -->

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:italic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:bold" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:bolditalic" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/summermvc.css">

</head>

<body class="base">
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-container">
      <div class="navbar-header">
        <button type="button" style="margin-left: 10px" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#top_menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a id="<%- topLeftMenus[0].id %>" name="<%- topLeftMenus[0].name %>" class="navbar-brand" href="<%- topLeftMenus[0].redirectpath %>"><img src="summer_mvc_logo.png" style="display:inline-block; max-width: 35px" /></a> -->
        <a href="/" class="navbar-brand mobile-navbar-brand mobile-show">summer-mvc</a>
        <!-- <img id="download" src="/download_icon.gif" class="mobile-show"/> -->
        <a id="download" class="mobile-show" href="/"><i class="fa fa-facebook fa-lg logo"></i></a>
      </div>
    </div>
    <div class="collapse navbar-collapse navbar-content" id="top_menu">
      <ul class="nav navbar-nav top-nav">
        <% for( var i=0; i<topLeftMenus.length; i++ ){ %>
          <li id="<%- topLeftMenus[i].id %>" name="<%- topLeftMenus[i].name %>" class="<%- topLeftMenus[i].active %>"><a href="<%- topLeftMenus[i].redirectpath %>" ><%- topLeftMenus[i].displayname %></a></li>
        <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right top-nav">
        <% for( var i=0; i<topRightMenus.length-1; i++ ){ %>
          <% if( topRightMenus[i].type === "href" ){ %>
            <li id="<%- topRightMenus[i].id %>" name="<%- topRightMenus[i].name %>" class="<%- topRightMenus[i].active %>"><a href="<%- topRightMenus[i].redirectpath %>" ><i class="<%- topRightMenus[i].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[i].displayname %></a></li>
          <% } else if( topRightMenus[i].type === "onclick" ){ %>
            <li id="<%- topRightMenus[i].id %>" name="<%- topRightMenus[i].name %>" class="<%- topRightMenus[i].active %>"><a href="#" onclick="<%- topRightMenus[i].redirectpath %>" ><i class="<%- topRightMenus[i].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[i].displayname %></a></li>
          <% } %>
        <% } %>
        <li style="padding-right: 15px" id="<%- topRightMenus[topRightMenus.length-1].id %>" name="<%- topRightMenus[topRightMenus.length-1].name %>" class="<%- topRightMenus[topRightMenus.length-1].active %>"><a href="<%- topRightMenus[topRightMenus.length-1].redirectpath %>" ><i class="<%- topRightMenus[topRightMenus.length-1].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[topRightMenus.length-1].displayname %></a></li>
      </ul>
    </div>
  </header>

  <div class="jumbotron" style="background-image: url(/jumbotron_bg.png); background-size: 100% auto; border-bottom: 1px solid #333">
    <div class="container">
      <!-- <img src="summer_mvc_logo.png" style="width: 250px"/>
      <img src="/main_logo.png" /> -->

      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7">
          <h1 style="color: #ddd;">summer-mvc</h1>
          <p style="color: #ddd">Very Light<br class="mobile-show"> Web Application <b>Framework & SDK</b><br class="mobile-show"> for Nodejs</p>
          <div class="mobile_btn_group">
          	<button class="btn_important" onclick="javascript:download();">DOWNLOAD</button>
          </div>
          <form id="file_download_form" action="/download" method="get"></form>

          <script>
              function download(){
                $("#file_download_form").submit();
              }
          </script>
        </div>
        <!-- <div class="col-lg-5 col-md-5 col-sm-5" style="padding-top: 35px;">
          <img src="execution.png" style="margin: auto; width: 100%;"/>
        </div> -->
        <!-- <embed class="col-lg-5 col-md-5 col-sm-5" src="https://www.youtube.com/embed/ov88bXeVjIY"> -->

        <!-- <video class="col-lg-5 col-md-5 col-sm-5" src='https://www.youtube.com/embed/ov88bXeVjIY' controls>
          Your browser does not support the <code>video</code> element.
        </video> -->

        <!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/ov88bXeVjIY"></iframe> -->
        <center><iframe class="manual_video col-lg-5 col-md-5 col-sm-5" src="//www.youtube.com/embed/ov88bXeVjIY" frameborder="0" allowfullscreen="allowfullscreen"></iframe></center>

        <script>
          $(document).ready( function(){
            var width = $(".manual_video").css( "width" );
            var height = parseInt(width) * 0.5625;
            $(".manual_video").css( "height", height );
          } );
        </script>

      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="padding-top: 50px; padding-bottom: 50px; max-width: 1200px; margin-left: auto; margin-right:auto;">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <center>
          <i class="fa fa-cogs" style="font-size:7.5em; padding-bottom: 30px;"></i>
          <h4 style="color:#303030; padding-bottom:12px;">Easy to Install</h4>
          <p>
            Nodejs Package Moduler (NPM) and Github. Both you can use to install <b>summer-mvc</b>.
            And some easy commands help you to settup.
            As easy and fast install time, you'll be able to focus your own development.
          </p>
        </center>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <center>
          <i class="fa fa-fighter-jet" style="font-size:7.5em; padding-bottom: 30px;"></i>
          <h4 style="color:#303030; padding-bottom:12px;">Fast Development Speed</h4>
          <p>
            Model, View and Controller - MVC. <b>summer-mvc</b> follows this basic concept.
            And it controls this elements behind of your codes.
            So you have to design and implement these elements only.
          </p>
        </center>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <center>
          <i class="fa fa-sitemap" style="font-size:7.5em; padding-bottom: 30px;"></i>
          <h4 style="color:#303030; padding-bottom:12px;">Hierarchical</h4>
          <p>
            When first executing with <b>summer-mvc</b>, hierarchical folder architecture will be created.
            - Automatical Building Machinsm
            These folders contains basic files and you can add, erase and update these files.
            It's very easy to understand.
          </p>
        </center>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <center>
          <i class="fa fa-wrench" style="font-size:7.5em; padding-bottom: 30px;"></i>
          <h4 style="color:#303030; padding-bottom:12px;">Tools</h4>
          <p>
            Controlling database, uploading/downloading file and managing session/cookies are important functions of web applications.
            <b>summer-mvc</b> provides these tools for your easy development.
            You can determine whether to use these tools or not.
          </p>
        </center>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: #f4f4f4">
    <div class="row" style="margin-top: 50px; margin-bottom: 50px; max-width: 1200px; margin-left: auto; margin-right:auto;">
      <center><h2 style="font-weight:200; margin-bottom:20px;">Creating Your Own Web Site with <b>summer-mvc</b></h2></center>

      <hr style="border-top: 1px solid #ccc; margin-bottom: 35px;">

        <div class="row">
          <div class="col-lo-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <center><img style="width:60%; margin-top: 20px;" src="/install.png" /></center>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <h3 style="font-weight:200; margin-bottom:20px;">1. Prepare Project and Install</h3>
            <h4 style="font-weight:400; color:#454545; margin-bottom:30px;">WE HAVE 2 WAYS TO PREPARE AND INSTALL.</h4>
            <p style="color: #454545;">
            	summer-mvc can be run on any Nodejs projects.
            	Create project and Initialize project.
            	And install summer-mvc using <a href="https://www.npmjs.com/package/summer-mvc">NPM</a> (Nodejs Package Moduler).
            	If you want to install using binary, please download binary files and exracte it under {user-project}/node_modules/summer-mvc.
            </p>
            <button class="btn_important" onclick="javascript:location.href = '/getting-started#get_summer_mvc'">Get summer-mvc</button>
          </div>
          <div class="col-lo-1 col-md-1 col-sm-1"></div>
        </div>

        <center><img style="margin-top:20px; margin-bottom:20px;" src="/arrow_dn_left.png"></center>

        <div class="row">
          <div class="col-lo-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <h3 style="font-weight:200; margin-bottom:20px;">2. Write 1 line and Execute</h3>
            <h4 style="font-weight:400; color:#454545; margin-bottom:30px; color: #454545">DURING INITIAL RUNNING TIME,<br> BUILD & CREATE APPLICATION ARCHITECTURE.</h4>
            <p style="color: #454545;">
            	<code style="font-size: 1.2em">const mvc = require( "summer-mvc" );</code> <br>
            	This only one line of code is required for executing summer-mvc.
            	As controlling HTTP req/res is event-driven, you just add that code and wait until client send a signal.
            	If your project is under first executed with summer-mvc, your project will be transformed as summer-mvc architecture.
            </p>
            <button class="btn_important" onclick="javascript:location.href='/getting-started#initializing'">Initializing</button>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <center><img style="width:60%; margin-top:20px;" src="/execution.png" /></center>
          </div>
          <div class="col-lo-1 col-md-1 col-sm-1"></div>
        </div>

        <center><img style="margin-top:20px; margin-bottom:20px;" src="/arrow_dn_right.png"></center>

        <div class="row">
          <div class="col-lo-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <center><img style="width:80%; margin-top: 20px;" src="/write_code.png" /></center>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <h3 style="font-weight:200; margin-bottom: 20px;">3. Implement Your Business Logic</h3>
            <h4 style="font-weight:400; color:#454545; margin-bottom: 30px; color: #454545">FOCUS YOUR TAKS. IMPLEMENT BUSINESS REQUIRE.</h4>
            <p style="color: #454545;">
            	Now, your job is that write your business codes.
            	Just implement controllers, models and views.
       			As summer-mvc control all other things, you can only focus your requirements.
       			Fast developement speed comes from that.
            </p>
            <button class="btn_important" onclick="javascript:location.href='/getting-started#create_application'">Create Application</button>
          </div>
          <div class="col-lo-1 col-md-1 col-sm-1"></div>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" style="margin-top: 50px; margin-bottom: 50px; max-width: 1200px; margin-left: auto; margin-right:auto;">
      <center><h2 style="font-weight:200; margin-bottom:20px;">Information</h2></center>

      <hr style="border-top: 1px solid #ccc; margin-bottom: 35px;">

      <div class="col-lg-6 col-md-6 col-sm-6">
      	<h3 style="font-weight:200; margin-bottom: 20px">Distribution & Dependency</h3>
      	<h4 style="font-weight:400; color:#454545; margin-bottom: 30px">summer-mvc can be running on Nodejs v4.0 or above.</h4>
      	<p style="color: #454545;">
      		<ul style="color: #454545;">
      			<li>Distributed under <b>MIT</b> License</li>
      			<li>Runs on <b>Nodejs</b> environment v4.0 or above</li>
      			<li>Runs with <b>Express</b> middleware as backend platform</li>
      			<li>Runs with <b>ejs</b> middleware as viewer</li>

      		</ul>

      		<ul>
      			<li>Use middleware <b>cookie-parser</b> v1.4.3</li>
      			<li>Use middleware <b>express-session</b> v1.15.2</li>
      			<li>Use middleware <b>body-parser</b> v1.17.1</li>
      			<li>Use middleware <b>body-parser</b> v2.13.0</li>
      			<li>Use middleware <b>mysql</b> v2.13.0</li>
      			<li>Use middleware <b>bluebird</b> v3.5.0</li>
  			</ul>
      	</p>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
      	<h3 style="font-weight:200; margin-bottom: 20px">NPM Status</h3>
      	<h4 style="font-weight:400; color:#454545; margin-bottom: 30px">summer-mvc can be downloaded at <a href="https://www.npmjs.com/package/summer-mvc">npmjs.com</a>.</h4>

		<p style="margin-top: 30px">
    		Total <span style="font-family: Montserrat-Bold"><b><%- total %></b></span> summer-mvc were downloaded.
    	</p>

    	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript">
	      google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart);

	      function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Weeks', 'Download Count'],
	          ['-4 week',  <%- weeks_ago_4 %>],
	          ['-3 week',  <%- weeks_ago_3 %>],
	          ['-2 week',  <%- weeks_ago_2 %>],
	          ['last week',  <%- last_week %>]
	        ]);

	        var options = {
	          curveType: 'function',
	          legend: { position: 'bottom' },
	          backgroundColor: { fill:'transparent' },
	          colors: ['#454545']
	        };

	        var chart = new google.visualization.LineChart(document.getElementById('npm_download_chart'));

	        chart.draw(data, options);
	      }
	    </script>

    	<div id="npm_download_chart"></div>


      </div>
    </div>
  </div>


  <% include partials/footer_inverse.ejs %>
</body>

</html>
