<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="summermvc.css">


  <script>
  	$(document).ready( function(){
  		$("#btn_download").on( "click", function(){
  			$("#file_download_form").submit();
  		} );
  	} );
  </script>
</head>

<body class="base">
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-container">
      <div class="navbar-header">
        <button type="button" style="margin-left: 10px" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#top_menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a id="<%- topLeftMenus[0].id %>" name="<%- topLeftMenus[0].name %>" class="navbar-brand" href="<%- topLeftMenus[0].redirectpath %>"><img src="summer-mvc-logo.ico" style="display:inline-block; max-width: 35px" /></a> -->
        <a href="/" class="navbar-brand mobile-navbar-brand mobile-show">summer-mvc</a>
        <!-- <img id="download" src="/download_icon.gif" class="mobile-show"/> -->
        <a id="download" class="mobile-show" href="/"><i class="fa fa-facebook fa-lg logo"></i></a>
      </div>
    </div>
    <div class="collapse navbar-collapse navbar-content" id="top_menu">
      <ul class="nav navbar-nav top-nav">
        <% for( var i=0; i<topLeftMenus.length; i++ ){ %>
          <li id="<%- topLeftMenus[i].id %>" name="<%- topLeftMenus[i].name %>" class="<%- topLeftMenus[i].active %>"><a href="<%- topLeftMenus[i].redirectpath %>" ><%- topLeftMenus[i].displayname %></a></li>
        <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right top-nav">
        <% for( var i=0; i<topRightMenus.length-1; i++ ){ %>
          <% if( topRightMenus[i].type === "href" ){ %>
            <li id="<%- topRightMenus[i].id %>" name="<%- topRightMenus[i].name %>" class="<%- topRightMenus[i].active %>"><a href="<%- topRightMenus[i].redirectpath %>" ><i class="<%- topRightMenus[i].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[i].displayname %></a></li>
          <% } else if( topRightMenus[i].type === "onclick" ){ %>
            <li id="<%- topRightMenus[i].id %>" name="<%- topRightMenus[i].name %>" class="<%- topRightMenus[i].active %>"><a href="#" onclick="<%- topRightMenus[i].redirectpath %>" ><i class="<%- topRightMenus[i].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[i].displayname %></a></li>
          <% } %>
        <% } %>
        <li style="padding-right: 15px" id="<%- topRightMenus[topRightMenus.length-1].id %>" name="<%- topRightMenus[topRightMenus.length-1].name %>" class="<%- topRightMenus[topRightMenus.length-1].active %>"><a href="<%- topRightMenus[topRightMenus.length-1].redirectpath %>" ><i class="<%- topRightMenus[topRightMenus.length-1].icon %>"></i>&nbsp;&nbsp;<%- topRightMenus[topRightMenus.length-1].displayname %></a></li>
      </ul>
    </div>
  </header>

  <div class="jumbotron vertical-center" style="height:40vh; min-height:400px; background-color: black">
    <div class="container text-center mobile-hidden">
      <img src="summer-mvc-logo.png" style="width: 150px"/>
      <img src="/main_logo.png" />
	  <!-- <img id="btn_download" style="margin-left: 25px; max-width:150px; display: inline-block;" src="/download_icon.png" /> -->
	  <form id="file_download_form" action="/download" method="get"></form>
    </div>
    <div class="container text-center mobile-show">
      <h1 style="color: #ffffff; font-family: aclonica; text-align: center">summer-mvc</h1>
	  <p style="color: #9d9d9d">Very Light Web Application <b>Framework & SDK</b> for Nodejs</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="padding-top: 50px; padding-bottom: 50px; max-width: 1200px; margin-left: auto; margin-right:auto;">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <center>
          <i class="fa fa-cogs" style="font-size:7.5em; padding-bottom: 30px;"></i>
          <h4 style="color:#303030; padding-bottom:12px;">Easy to Install</h4>
          <p>
            Nodejs Package Moduler (NPM) and Github. Both you can use to install <b>summer-mvc</b>.
            And some easy commands help you to settup.
            As easy and fast install time, you'll be able to focus your own development.
          </p>
        </center>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <center>
          <i class="fa fa-fighter-jet" style="font-size:7.5em; padding-bottom: 30px;"></i>
          <h4 style="color:#303030; padding-bottom:12px;">Fast Development Speed</h4>
          <p>
            Model, View and Controller - MVC. <b>summer-mvc</b> follows this basic concept.
            And it controls this elements behind of your codes.
            So you have to design and implement these elements only.
          </p>
        </center>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <center>
          <i class="fa fa-sitemap" style="font-size:7.5em; padding-bottom: 30px;"></i>
          <h4 style="color:#303030; padding-bottom:12px;">Hierarchical</h4>
          <p>
            When first executing with <b>summer-mvc</b>, hierarchical folder architecture will be created.
            - Automatical Building Machinsm
            These folders contains basic files and you can add, erase and update these files.
            It's very easy to understand.
          </p>
        </center>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <center>
          <i class="fa fa-wrench" style="font-size:7.5em; padding-bottom: 30px;"></i>
          <h4 style="color:#303030; padding-bottom:12px;">Tools</h4>
          <p>
            Controlling database, uploading/downloading file and managing session/cookies are important functions of web applications.
            <b>summer-mvc</b> provides these tools for your easy development.
            You can determine whether to use these tools or not.
          </p>
        </center>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color: rgba(0,0,0,0.1);">
    <div class="row" style="max-width: 1200px; margin-left: auto; margin-right:auto;">
      <div class="col-lg-4 col-md-4 col-sm-6" style="padding-top:50px; padding-bottom: 50px;">
        <h4 style="color:#303030;">Release Info.</h4>
       	<p style="color:#454545">
       		The latest version is <b>v2.0.0</b> and is going to be upgraded.
       	</p>
       	<table class="table table-condensed table-hover" style="margin-top: 30px">
    		<caption style="color:#646464"><b>History</b></caption>
    		<tbody>
    			<tr>
    				<td style="color: #646464">v1.0.0</td>
    				<td style="color: #454545">Initial Version</td>
    			</tr>
    			<tr>
    				<td style="color: #646464">v1.0.1</td>
    				<td style="color: #454545">Bug Fixed</td>
    			</tr>
    			<tr>
    				<td style="color: #646464">v1.0.2</td>
    				<td style="color: #454545">Bug Fixed</td>
    			</tr>
    			<tr>
    				<td style="color: #646464">v1.1.0</td>
    				<td style="color: #454545">Framework Architecture Fixed</td>
    			</tr>
    			<tr style="border-bottom: 1px solid lightgray">
    				<td style="color: #646464">v2.0.0</td>
    				<td style="color: #454545"><b>Add Tools, Redesign Architecture</b></td>
    			</tr>
    		</tbody>
    	</table>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6" style="padding-top:50px; padding-bottom: 50px;">
        <h4 style="color:#303030;">NPM Status</h4>
        <p style="color:#454545">summer-mvc can be downloaded at <a href="https://www.npmjs.com/package/summer-mvc">npmjs.com</a>.
        </p>
        <table class="table table-condensed table-hover" style="margin-top: 30px">
        	<caption style="color:#646464"><b>Downloading Count</b></caption>
    		<tbody>
    			<tr style="border-bottom: 1px solid lightgray">
    				<td style="color: #646464">Total</td>
    				<td style="color: #454545"><%- total %></td>
    			</tr>
    			<tr style="border-bottom: 1px solid lightgray">
    				<td style="color: #646464">Last Week</td>
    				<td style="color: #454545"><%- last_week %></td>
    			</tr>
    		</tbody>
    	</table>

    	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript">
	      google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart);

	      function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Weeks', 'Download Count'],
	          ['-4 week',  <%- weeks_ago_4 %>],
	          ['-3 week',  <%- weeks_ago_3 %>],
	          ['-2 week',  <%- weeks_ago_2 %>],
	          ['last week',  <%- last_week %>]
	        ]);

	        var options = {
	          curveType: 'function',
	          legend: { position: 'bottom' },
	          backgroundColor: { fill:'transparent' },
	          colors: ['#454545']
	        };

	        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

	        chart.draw(data, options);
	      }
	    </script>

    	<div id="curve_chart"></div>


      </div>
      <div class="col-lg-4 col-md-4" style="padding-top:50px; padding-bottom: 50px;">
        <h4 style="color:#303030;">Comments</h4>
        <div class="media">
        			<div class="media-left">
        				<img style="max-width:50px" src="/favicon.ico" />
        			</div>
        			<div class="media-body" style="padding-left: 15px">
						<p style="color:#454545">I think this is very awesome framework.<br> Useful, convenient and fast.</p>
            <h5 class="media-heading" style="color:#454545; font-style:italic">- Mark</h5>
					</div>
				</div>
        <div class="media">
        			<div class="media-left">
        				<img style="max-width:50px" src="/favicon.ico" />
        			</div>
					<div class="media-body" style="padding-left: 15px">
						<p style="color:#646464">Wonderful framework! Hierarchical approach for developing is possible when you use this.<br>Amazing development speed!</p>
            <h5 class="media-heading" style="color:#454545; font-style:italic">- Jobs</h5>
					</div>
				</div>
        <div class="media">
        			<div class="media-left">
        				<img style="max-width:50px" src="/favicon.ico" />
        			</div>
					<div class="media-body" style="padding-left: 15px">
						<p style="color:#646464">I can say that if Nodejs gives us an environment, summer-mvc gives us tools.<br>Be careful. Breath deep. It's powerful.</p>
            <h5 class="media-heading" style="color:#454545; font-style:italic">- Changho Kang</h5>
					</div>
				</div>
      </div>
    </div>
  </div>

  <% include partials/footer.ejs %>
</body>

</html>
